<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/11d589870a.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="/questions.css" />
		<title>Swagata's View</title>
	</head>
	<body>
        <div class="navbar">
            <div class="right">
                <div class="logo" onclick="location.assign(`${window.location.origin}`)"><i class="far fa-grin-hearts"></i></i></div>
			    <div class="nav-name" onclick="location.assign(`${window.location.origin}`)">Swagata's Slam Book</div>
            </div>
		</div>
        <div class="container">
            <div class="all-subs">
                
            </div>
        </div>
        <div class="footer">
             <div class="footer-copyright">
                <i class="far fa-copyright"></i><span>SwagataChanda</span>
            </div>
            <div class="footer-social">
                Follow me on &nbsp;<span class="insta" onclick="insta()"><i class="fab fa-instagram"></i></span>
            </div>
        </div>
    </body>
    <script src="/admin.js"></script>
</html>
