<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/11d589870a.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="/questions.css" />
		<title>Swagata's Slam Book</title>
	</head>
	<body>
		<div class="navbar">
            <div class="right">
                <div class="logo" onclick="location.assign(`${window.location.origin}`)"><i class="far fa-grin-hearts"></i></i></div>
			    <div class="nav-name" onclick="location.assign(`${window.location.origin}`)">Swagata's Slam Book</div>
            </div>
			
		</div>
		<div class="container">
			<div class="msg-container">
				<!-- Message from Swagata -->
                <div class="msg">
                    <div class="msg-content">
                       Hi guys, This is me...your favourite one and only Swagataaaaaaaaa!! 🙋‍♀️ This is just for fun. Please fill this up so that I can remember you guys in future, contact you and get nostalgic. This will be interesting and you can spill your heart out. Show some love<span style="color: red;" >&nbsp;❤</span> Hope this will bring a smile on my face!!!✨ Love you🤗🤩
                    </div>
                    <div class="button" onclick="start()">
                        <div class="button-content">
                            Let's Start
                        </div>
                    </div>
                </div>
                <div class="pic">
                    <div class="pic-content">
                        <img src="/final.png" class="msg-img"/>
                    </div>
                </div>
			</div>
		</div>
        <div class="footer">
            <div class="footer-copyright">
                <i class="far fa-copyright"></i><span>SwagataChanda</span>
            </div>
            <div class="footer-social">
                Follow me on &nbsp;<span class="insta" onclick="insta()"><i class="fab fa-instagram"></i></span>
            </div>
        </div>
	</body>
	<script src="/list.js"></script>
	<script src="/questions.js"></script>
</html>
